<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Post</title>
</head>
<body>
    <h1>Add New Posts</h1>
    <form action="/posts/new" method="POST">
        <input type="text" placeholder="enter username" name="username">
        <br>
        <br>
        <p>enter your content</p>
        <textarea name="content" placeholder="enter your content" cols="10" rows="5" style="width: 30rem;"> </textarea>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>